<div class="booking-review">
  <h2 class="text-[48px]">Booking Review</h2>
  <div *ngIf="booking && booking.length > 0">
    <div *ngFor="let ticket of booking" class="booking-details">
      <div class="booking-detail">
        <span class="detail-label">Movie:</span>
        <span class="detail-value">{{ ticket.movie.title }}</span>
      </div>
      <div class="booking-detail">
        <span class="detail-label">Showtime:</span>
        <span class="detail-value">{{
          ticket.show.dateTime | date : "medium"
        }}</span>
      </div>
      <div class="booking-detail">
        <span class="detail-label">Seats:</span>
        <span class="detail-value">{{ ticket.seats }}</span>
      </div>
      <div class="booking-detail">
        <span class="detail-label">Total Price:</span>
        <span class="detail-value">Rs. {{ ticket.totalPrice }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="!booking || booking.length == 0">
    <h2 class="text-32px]">No Bookings Available!</h2>
  </div>
</div>
