<div>
  <div class="showtime-form">
    <h2>Add/Edit Showtime</h2>
    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="dateTime">Date & Time</label>
        <input
          type="datetime-local"
          id="dateTime"
          name="dateTime"
          [(ngModel)]="showtime.dateTime"
          required
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="seats">Seats Available</label>
        <input
          type="number"
          id="seats"
          name="seats"
          [(ngModel)]="showtime.seatsAvailable"
          required
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
