<!-- <div class="seat-selection-container">
  <div *ngFor="let row of rows" class="seat-row">
    <div *ngFor="let seat of row" class="seat">
      <button
        class="seat-button"
        [disabled]="isSeatSelected(seat)"
        [ngClass]="{ selected: isSeatSelected(seat) }"
        (click)="toggleSeat(seat)"
      >
        {{ seat }}
      </button>
    </div>
  </div>
  <p>Total Amount - Rs- {{ totalPrice }}</p>
  <p>Price per seat - Rs- {{ totalPrice }}</p>
  <button class="book-button" (click)="bookTickets()">Book Tickets</button>
</div> -->
<div class="seat-selection-container">
  <div class="seat-grid">
    <div *ngFor="let row of rows" class="seat-row">
      <div *ngFor="let seat of row" class="seat">
        <button
          class="seat-button"
          [disabled]="isSeatSelected(seat)"
          [ngClass]="{ selected: isSeatSelected(seat) }"
          (click)="toggleSeat(seat)"
        >
          {{ seat }}
        </button>
      </div>
    </div>
  </div>
  <div class="price-details">
    <p>
      Total Amount: <span class="price">Rs. {{ totalPrice }}</span>
    </p>
    <p>
      Price per seat: <span class="price">Rs. {{ pricePerSeat }}</span>
    </p>
  </div>
  <div class="center">
    <button class="book-button" (click)="bookTickets()">Book Tickets</button>
  </div>
</div>
